.menu{
display: flex;
justify-content: space-between;
padding-left: 10%;
padding-right: 10%;

}
.menuNav{
    display: flex;
    justify-content: space-between;
}
.logo{
    
}
.med{
    justify-content: space-evenly;

}
.bot{
}