    *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:Arial;
    }

    body{
      background:#e5e7eb;
    }

    .contenedor{
      min-height:100vh;

      display:grid;

      grid-template-columns:250px 1fr 300px;
      grid-template-rows:80px 1fr 60px;

      gap:15px;
      padding:15px;

      grid-template-areas:
        "sidebar header header"
        "sidebar main activity"
        "footer footer footer";
    }

    header{
      grid-area:header;
      background:white;
      border-radius:10px;

      display:flex;
      justify-content:space-between;
      align-items:center;

      padding:20px;
    }

    aside{
      grid-area:sidebar;
      background:#111827;
      color:white;
      border-radius:10px;

      display:flex;
      flex-direction:column;
      gap:20px;

      padding:20px;
    }

    main{
      grid-area:main;

      display:grid;
      grid-template-columns:repeat(2,1fr);

      gap:20px;
    }

    .tarjeta{
      background:white;
      padding:25px;
      border-radius:10px;

      display:flex;
      flex-direction:column;
      gap:10px;
    }

    .actividad{
      grid-area:activity;
      background:white;
      border-radius:10px;

      padding:20px;

      display:flex;
      flex-direction:column;
      gap:20px;
    }

    footer{
      grid-area:footer;
      background:#111827;
      color:white;
      border-radius:10px;

      display:flex;
      justify-content:center;
      align-items:center;
    }
