.container {
    background: #1e1e2f;
    padding: 20px;
    border-radius: 15px;
}
img {
    margin: 20px auto;
    width: 150px;
    border-radius: 50%;
    border: 3px solid #00d4ff;
}
form {
    background: gray;
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: #00d4ff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #00d4ff;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
    border-left: 4px solid #00d4ff;
    padding-left: 10px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2c3e50);
    color: #f5f5f5;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    
}
th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}